[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gtts = "*"
filetype = {editable = true, git = "https://github.com/h2non/filetype.py"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
